@font-face {
  font-family: "iconfont"; /* Project id 2956677 */
  src: url('./../font/iconfont.woff2?t=1637831046649') format('woff2'),
       url('./../font/iconfont.woff?t=1637831046649') format('woff'),
       url('./../font/iconfont.ttf?t=1637831046649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuandaimaxiayoudaima:before {
  content: "\e7ae";
}

.icon-jiacu2:before {
  content: "\e641";
}

.icon-bold:before {
  content: "\e603";
}

.icon-bold1:before {
  content: "\e600";
}

.icon-bold2:before {
  content: "\e601";
}

.icon-border:before {
  content: "\e60b";
}

.icon-border-top:before {
  content: "\e698";
}

.icon-align_baseline_outline:before {
  content: "\e6c9";
}

.icon-zishiying:before {
  content: "\e60a";
}

.icon-zishiying1:before {
  content: "\e64d";
}

.icon-chacha:before {
  content: "\e6ab";
}

.icon-yanse:before {
  content: "\e678";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-a-Alignflex-startrow:before {
  content: "\e609";
}

.icon-piccenter-fill:before {
  content: "\e7c0";
}

.icon-a-Alignflex-endrow:before {
  content: "\e606";
}

.icon-a-Alignstretchrow:before {
  content: "\e607";
}

.icon-cross-flex-center:before {
  content: "\e63b";
}

.icon-main-space-between:before {
  content: "\e64a";
}

.icon-SpaceBetweenHorizontally:before {
  content: "\e663";
}

.icon-a-Justifyflex-startrow:before {
  content: "\e604";
}

.icon-a-Alignflex-endcolumn:before {
  content: "\e605";
}

.icon-nowrap:before {
  content: "\e608";
}

.icon-shanghuanhang:before {
  content: "\e61e";
}

.icon-huanhang:before {
  content: "\e60e";
}

.icon-buju:before {
  content: "\e62a";
}

.icon-buju1:before {
  content: "\ed99";
}

.icon-cs-jt-xs-1-1:before {
  content: "\e630";
}

.icon-cs-jt-xx-1-1:before {
  content: "\e631";
}

.icon-cs-jt-xy-1-1:before {
  content: "\e632";
}

.icon-cs-jt-xz-1-1:before {
  content: "\e633";
}

